nav {
  display: grid;
  place-items: flex-end;
  position: relative;
}

.selected-language {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  padding: .3rem;
  border: 3px solid transparent;
  background-color: transparent;
}

.selected-language:hover {
  cursor: pointer;
  border: 3px dashed white;
}

button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: white;
  border: 3px solid transparent;
}

.language-button {
  width: 100%;
  padding: .3rem;
}

.language-button:hover {
  cursor: pointer;
  border: 3px dashed black;
}

svg {
  fill: white;
  width: 1rem;
  transition: .5s;
}

.rotate {
  transform: rotate(180deg);
}

.show {
  display: block;
}

.hide {
  display: none;
}

ul {
  position: absolute;
  margin-right: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
  list-style-type: none;
  padding: 1rem;
  background-color: white;
  color: black;
  top: 4rem;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid transparent;
  gap: 1rem;
}

img {
  width: 3rem;
}

p {
  margin: 0;
}
