.registration-form {
  border-radius: 8px;
  background-color: white;
  padding: 1.5rem;
  color: var(--dark-blue);
  box-shadow: 0 7px 1px rgb(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  max-width: 30rem;
}

.registration-input {
  padding: 1rem;
  border: 1px solid var(--grayish-blue);
  border-radius: 5px;
  width: 100%;
}

.registration-input::placeholder {
  font-family: "PoppinsBold", sans-serif;
  font-size: 0.8rem;
}

.submit-button {
  padding: 1rem;
  background-color: var(--green);
  color: white;
  border: none;
  border-bottom: 4px solid #30bc7d;
  border-radius: 5px;
  width: 100%;
  text-transform: uppercase;
  font-family: "PoppinsMedium", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.submit-button:hover {
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submit-button:disabled {
  background-color: var(--grayish-blue);
  border-bottom: 4px solid darkgray;
  cursor: not-allowed;
}

.submit-button > p {
  margin: 0;
}

.spinner {
  width: 1rem;
  animation: spin 1s linear infinite;
  fill: white;
}

.registration-tos {
  font-size: 0.7rem;
  text-align: center;
  margin: 0;
  color: var(--grayish-blue);
}

strong {
  font-family: "PoppinsBold", sans-serif;
  color: var(--red);
}

.password-description {
  font-size: 0.8rem;
  color: var(--red);
  margin: 0;
}

.password-requirements {
  padding: 0;
  font-size: 0.7rem;
  list-style-type: none;
  margin: 0;
  color: var(--red);
}

.invalid {
  border: 1px solid var(--red);
  background-image: url("../../../assets/images/icon-error.svg");
  background-position: right 10px top 15px;
  background-repeat: no-repeat;
}

.error-text {
  font-size: 0.7rem;
  color: var(--red);
  margin: 0;
}
