<form
  [formGroup]="registrationForm"
  (ngSubmit)="onSubmit()"
  class="registration-form"
>
  <div>
    <label for="firstName" class="sr-only">First Name</label>
    <input
      [class.invalid]="
      registrationForm.controls.firstName.invalid &&
      (registrationForm.controls.firstName.dirty ||
        registrationForm.controls.firstName.touched)
    "
      (blur)="capitalize($event, 'firstName')"
      formControlName="firstName"
      id="firstName"
      class="registration-input"
      type="text"
      placeholder="First Name"
    />
    <p data-test-id="firstNameError" class="error-text" *ngIf="registrationForm.controls.firstName.errors?.['required'] && (registrationForm.controls.firstName.dirty || registrationForm.controls.firstName.touched)">
      Is required
    </p>
  </div>

  <div>
    <label for="lastName" class="sr-only">Last Name</label>
    <input
      [class.invalid]="
      registrationForm.controls.lastName.invalid &&
      (registrationForm.controls.lastName.dirty ||
        registrationForm.controls.lastName.touched)
    "
      (blur)="capitalize($event, 'lastName')"
      formControlName="lastName"
      id="lastName"
      class="registration-input"
      type="text"
      placeholder="Last Name"
    />
    <p class="error-text" *ngIf="registrationForm.controls.lastName.errors?.['required'] && (registrationForm.controls.lastName.dirty || registrationForm.controls.lastName.touched)">
      Is required
    </p>
  </div>

  <div>
    <label for="email" class="sr-only">Email Address</label>
    <input
      [class.invalid]="
      registrationForm.controls.email.invalid &&
      (registrationForm.controls.email.dirty ||
        registrationForm.controls.email.touched)
    "
      formControlName="email"
      id="email"
      class="registration-input"
      type="email"
      placeholder="Email Address"
    />
    <p class="error-text" *ngIf="registrationForm.controls.email.errors?.['required'] && (registrationForm.controls.email.dirty || registrationForm.controls.email.touched)">
      Is required
    </p>
    <p class="error-text" *ngIf="registrationForm.controls.email.errors?.['email'] && (registrationForm.controls.email.dirty || registrationForm.controls.email.touched)">
      Email must be valid
    </p>
  </div>

  <div>
    <label for="password" class="sr-only">Password</label>
    <input
      [class.invalid]="
      registrationForm.controls.password.invalid &&
      (registrationForm.controls.password.dirty ||
        registrationForm.controls.password.touched)
    "
      formControlName="password"
      id="password"
      class="registration-input"
      type="password"
      placeholder="Password"
    />
    <div>
      <ul class="password-requirements">
        <li>
          <div class="password-requirement-wrapper">
            <svg
              data-test-id="lowercase-unchecked-circle"
              *ngIf="!registrationForm.controls.password.errors?.['isNotStrongPassword']?.['hasLowerCase'] && registrationForm.controls.password.errors?.['isNotStrongPassword']"
              class="password-requirement-circle"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"/></svg>
            <svg
              data-test-id="lowercase-checked-circle"
              *ngIf="registrationForm.controls.password.errors?.['isNotStrongPassword']?.['hasLowerCase'] || !registrationForm.controls.password.errors?.['isNotStrongPassword']"
              class="password-requirement-circle checkmark"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/></svg>
            <p>Lower case letter</p>
          </div>
        </li>
        <li>
          <div class="password-requirement-wrapper">
            <svg
              data-test-id="uppercase-unchecked-circle"
              *ngIf="!registrationForm.controls.password.errors?.['isNotStrongPassword']?.['hasUpperCase'] && registrationForm.controls.password.errors?.['isNotStrongPassword']"
              class="password-requirement-circle"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"/></svg>
            <svg
              data-test-id="uppercase-checked-circle"
              *ngIf="registrationForm.controls.password.errors?.['isNotStrongPassword']?.['hasUpperCase'] || !registrationForm.controls.password.errors?.['isNotStrongPassword']"
              class="password-requirement-circle checkmark"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/></svg>
            <p>Upper case letter</p>
          </div>
        </li>
        <li>
          <div class="password-requirement-wrapper">
            <svg
              data-test-id="number-unchecked-circle"
              *ngIf="!registrationForm.controls.password.errors?.['isNotStrongPassword']?.['hasNumber'] && registrationForm.controls.password.errors?.['isNotStrongPassword']"
              class="password-requirement-circle"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"/></svg>
            <svg
              data-test-id="number-checked-circle"
              *ngIf="registrationForm.controls.password.errors?.['isNotStrongPassword']?.['hasNumber'] || !registrationForm.controls.password.errors?.['isNotStrongPassword']"
              class="password-requirement-circle checkmark"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/></svg>
            <p>Number</p>
          </div>
        </li>
        <li>
          <div class="password-requirement-wrapper">
            <svg
              data-test-id="min-length-unchecked-circle"
              *ngIf="registrationForm.controls.password.errors?.['minlength']"
              class="password-requirement-circle"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"/></svg>
            <svg
              data-test-id="min-length-checked-circle"
              *ngIf="!registrationForm.controls.password.errors?.['minlength']"
              class="password-requirement-circle checkmark"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/></svg>
            <p>Minimum of 8 characters</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <button [disabled]="registrationForm.invalid" class="submit-button" type="submit" aria-describedby="tos">
    <svg class="spinner" *ngIf="isLoading" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M222.7 32.1c5 16.9-4.6 34.8-21.5 39.8C121.8 95.6 64 169.1 64 256c0 106 86 192 192 192s192-86 192-192c0-86.9-57.8-160.4-137.1-184.1c-16.9-5-26.6-22.9-21.5-39.8s22.9-26.6 39.8-21.5C434.9 42.1 512 140 512 256c0 141.4-114.6 256-256 256S0 397.4 0 256C0 140 77.1 42.1 182.9 10.6c16.9-5 34.8 4.6 39.8 21.5z"/></svg>
    <p>Claim your free trial</p>
  </button>

  <p id="tos" class="registration-tos">
    By clicking the button, you are aggreeing to our
    <strong><a>Terms and Services</a></strong>
  </p>
</form>
