
<form class="registration-form">
  <label class="sr-only">First Name</label>
  <input class="registration-input" type="text" placeholder="First Name">

  <label class="sr-only">Last Name</label>
  <input class="registration-input" type="text" placeholder="Last Name">

  <label class="sr-only">Email Address</label>
  <input class="registration-input" type="email" placeholder="Email Address">

  <label class="sr-only">Password</label>
  <input class="registration-input" type="password" placeholder="Password">

  <button class="submit-button" type="submit">Claim your free trial</button>

  <p class="registration-tos">By clicking the button, you are aggreeing to our <strong><a>Terms and Services</a></strong></p>
</form>
